body {
    background: url("./bg.jpg") top center
}



.brown-sugar {
    color:brown;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
    
#table-yuk{
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 100px;
    background-color: aqua;
    padding: 20px;
}

div a {
    color: black;
}

div a:hover {
    color: red;
}