* {
    margin: 0 auto;
}

body {
    background: url("./bio.jpg") top center
}



.brown-sugar {
    color:brown;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}

#table-yuk {
    display: flex;
    justify-content: center;
    align-items: center ;
    height: 100%;
    border-image-source: center;
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 100px;
    padding: 20px;
    float:center;
}

#box-head {
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    font-weight: normal;
    margin-top: 100px;
    width: 800px;
    background-color:#ffffff;
    padding: 20px;
    display: block;
}

#box-body {
    font-size: 20px;
    margin-top: 10px;
    width: 890px;
    font-weight: normal;
    background-color: #ffffff;
    padding: 5px;
    height: 520px;
    display: block;
    float: center;
}

.box {
    margin-top: 10px;
    width: 800px;
    background-color: blanchedalmond;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    float:left;
    padding: 30px;
}

.clear {
    float: clear;
}

p::first-letter {
    font-size: xx-large;
}

div a {
    color: black;
}

div a:hover {
    color: red;
}


